{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'logo.jpg'%}">
    </a>
    <h1>Project Aphasia Social: Emoji Translator</h1>
    <p>A chrome extension that turns all the sentences on Twitter homepage to coherent emojis. </p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/IzHoBX/emoji-text-api-hosting"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
{% endblock %}
